:root {
  --storyColor: #de8cb2;
  --storyColor-rgb: 222, 140, 178;
  --storyColor-h: 332; 
  --storyColor-s: 55%;
  --storyColor-l: 71%;
}

/** Navigation2 Bar **/
.navigation {
  display: grid;
  position: sticky;
  bottom: 0px;
  background: var(--content-bg-color);
  justify-content: center;
  margin-bottom: 0px;
  font-size: 1.2rem;
  z-index: 9999;
}

.navigation img {
  margin-bottom: 0px;
  width: 50px;
}
.navigation a {
  border-bottom: none;
}
.navigation i {
  margin: 0px;
  padding: 10px;
}
.navigation .top-arrow {
  right: 0px;
  position: absolute;
}
.navigation .home-button {
  left: 0px;
  position: absolute;
}

/** mytls Page Code **/

.stories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 0.5em;
    margin-bottom: 0.9rem;
}

.stories * {
    box-sizing: border-box;
}

.story {
    position: relative;
    border-radius: 0.25em;
    overflow: hidden;
}

.stories a:hover{
    color: white;
}

.stories a:visited {
    color: white;
}

.stories a:link {
    color: white;
}

.stories  a:active {
    color: white;
}

.story:hover img {
    transform: scale(1.05);
}

.story:hover .storyName {
    transform: translate(0, 0);
}

.story:hover .storyName .read {
    transform: translate(0, 0);
}

.storyName {
    transform: translate(0, 0);
}

.thumbimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease;
    margin: 0 !important;
}

.storyName {
    font-size: 0.9em;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to bottom, transparent 0, #000000a3 90%);
    color: #fff;
    position: absolute;
    padding: 5em 0.75em 0.75em;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: 0.2s ease;
    transform: translate(0, 2.3em);
    border-width: 0;
}

.storyName .read {
    margin-top: 0.25em;
    font-size: 0.85em;
    background: black;
    color: white;
    padding: 0.5em 1.25em;
    height: 2.25em;
    border-radius: 0.25em;
    width: 100%;
    text-align: center;
    transition: 0.2s ease;
    transform: translate(0, 1em);
}

.storyName .read:before {
    content: "Read";
}

.storyName .read.soon {
    opacity: 0.5;
    pointer-events: none;
}

.storyName .read.soon::before {
    content: "Soon!";
}

.storyName .read:not(.soon):hover {
    color: #de8cb2;
}

@media only screen and (max-width: 600px) {
.stories {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
}